body {
    font-family: 'Rubik', sans-serif;
    background-image: -moz-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
      margin: 0;
    width: 100%;
    height: 100%;
      padding: 0;
  }

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

#dashframe {
    width: 80%;
    height: 1000px;
    margin: 0 auto;
}