<!doctype html>
<html lang="fr">

<head>
    {% block head%}
    <title>Apple Refurb</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mobland - Mobile App Landing Page Template">
    <meta name="keywords" content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    {% endblock %}
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

    <!-- Nav Menu -->
    {% block menu %}
    <div class="nav-menu fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-dark navbar-expand-lg">
                        <a class="navbar-brand" href="{{ url_for('landingPage')}}"><img src="{{ url_for('static', filename='images/apple-refurb-logo.png') }}" width="55" height="55" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"> <a class="nav-link active" href="{{ url_for('landingPage')}}">ACCUEIL <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" href="{{ url_for('refurbComparaisonPage')}}">RECHERCHER</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="/dash">COMPARER</a> </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block maincontent%}

    <header class="bg-gradient" id="home">
        <div class="container mt-5">
            <h1>Apple, moins cher</h1>
            <p class="tagline">Mise à jour en temps de réel des prix sur les produits reconditionnés Apple. Comparatifs avec les prix pour les produits neuf pour que vous ne manquiez pas une bonne occasion d'acheter</p>
        </div>
        <div class="img-holder mt-3"><img src="{{ url_for('static', filename='images/iphonex.png') }}" alt="phone" class="img-fluid"></div>
    </header>

    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    <h2>Comment ca marche ?</h2>
                    <p class="mb-4">Selectionnez le produit dont vous rêvez pour voir sa disponibilité et comparez ensuite les prix</p>
                    <a href="{{ url_for('refurbComparaisonPage')}}" class="btn btn-primary">Essayez !</a>
                </div>
            </div>
            <div class="perspective-phone">
                <img src="{{ url_for('static', filename='images/perspective.png') }}" alt="perspective phone" class="img-fluid">
            </div>
        </div>

    </div>


    <div class="section light-bg">

        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body">
                                <h5>Scraping avec scrapy</h5>
                                <p>Nous récuperons les données sur le site d'Apple à l'aide de scrapy</p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <div class="circle-icon mr-4">2</div>
                            <div class="media-body">
                                <h5>Stockage avec MongoDB</h5>
                                <p>Et indexation avec Elastic Search</p>
                                <p>Création d'un moteur de suggestion avec "Search-As-You-Type", <br />une feature d'ES</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body">
                                <h5>Gestion web/server avec Flask</h5>
                                <p>Enfin, pour tout afficher et permettre une relation avec un serveur<br />nous utilisons le framework Flask</p>
                                <p>Et Jinga 2 pour la gestion des templates</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="{{ url_for('static', filename='images/iphonex.png') }}" alt="iphone" class="img-fluid">
                </div>

            </div>

        </div>

    </div>
    <!-- // end .section -->

    <footer class="my-5 text-center">
            <p class="mb-2"><small>Web app made by <a href="https://github.com/jeremySrgt">Jérémy Surget</a> and <a href="https://github.com/Sylvainj1">Sylvain Jiang</a></small></p>
        <!-- Copyright removal is not prohibited! -->
        <p class="mb-2"><small>TEMPLATE BY <a href="https://colorlib.com">COLORLIB</a></small></p>
    </footer>

    {% endblock %}

    <!-- jQuery and Bootstrap -->
    <script src="{{ url_for('static', filename='script/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/bootstrap.bundle.min.js') }}"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>

</body>

</html>
