{% extends "landing_page.html" %}

<!DOCTYPE html>
<html lang="fr">
<head>
  {%block head %}
  {{ super() }}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/refurbCard.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_css.css') }}" />
    <script src="https://use.fontawesome.com/d290b12531.js"></script>
    {% endblock %}
</head>
<body>

  {% block menu %}
  <div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="{{ url_for('landingPage')}}"><img src="{{ url_for('static', filename='images/apple-refurb-logo.png') }}" width="55" height="55" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link" href="{{ url_for('landingPage')}}">ACCUEIL <span class="sr-only">(current)</span></a> </li>
                            <li class="nav-item"> <a class="nav-link active" href="{{ url_for('refurbComparaisonPage')}}">RECHERCHER</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#compare">COMPARER</a> </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
  {% endblock %}
  
  {% block maincontent%}
  <div class="searchbox">
    <div class="sea-container">
      <div class="search-box">
        <div class="search-icon"><i class="fa fa-search search-icon"></i></div>
        <form action="" class="search-form" method="POST">
          <input name = "input" type="text" placeholder="Rechercher ..." id="customsearch" list="suggestions" autocomplete="off">
          <datalist id="suggestions">
            <!-- les options vont etre insérées via le script JS -->
          </datalist>
        </form>
        <svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
         xml:space="preserve">
            <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
            <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
          </svg>
        <div class="go-icon"><i class="fa fa-arrow-right"></i></div>
      </div>
    </div>
    
</div>

<div class="result-number">
  {% if res %}
  {% if res['hits']['hits']|length == 0 %}
  <p>Nous n'avons rien trouvé 😢</p>
  {% else %}
  <p>Nombre de resultats {{res['hits']['hits']|length}}</p>
  {% endif %}
  {% else %}
  <p> Il y a actuellement {{products|length}} produits sur le refurb Apple</p>
  {% endif %}
</div>



  <div class="product-list">
    {% if res %}
    <ul class="cards">
      {% for hit in res['hits']['hits'] %}
      <li class="card card--1">
        <div class="card__info-hover">
            <div class="card__clock-info">
              <span class="card__time">{% if hit['_source']['previousPrice'] != None %}
                🔥🔥<strike>{{hit['_source']['previousPrice']}}</strike>
              {% else %}
              🤓🤓
              {% endif %}</span>
            </div>
          
        </div>
        <div class="card__img"></div>
        <a href="#" class="card_link">
           <div class="card__img--hover" style="background-image: url('{{hit['_source']['img'][0]}}');"></div>
         </a>
        <div class="card__info">
          <span class="card__category">{{hit['_source']['currentPrice']}}</span>
          <h3 class="card__title">{{hit['_source']['title']}}</h3>
          <span class="card__by"><i>{% if hit['_source']['save'] != None %}{{hit['_source']['save']}}
          {% endif %}</i></span>
        </div>
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <ul class="cards">
        {% for product in products %}
        <li class="card card--1">
          <div class="card__info-hover">
              <div class="card__clock-info">
                <span class="card__time">{% if product['previousPrice'] != None %}
                  🔥🔥<strike>{{product['previousPrice']}}</strike>
                {% else %}
                🤓🤓
                {% endif %}</span>
              </div>
            
          </div>
          <div class="card__img"></div>
          <a href="#" class="card_link">
             <div class="card__img--hover" style="background-image: url('{{product['img'][0]}}');"></div>
           </a>
          <div class="card__info">
            <span class="card__category">{{product['currentPrice']}}</span>
            <h3 class="card__title">{{product['title']}}</h3>
            <span class="card__by"><i>{% if product['save'] != None %}{{product['save']}}
            {% endif %}</i></span>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script/search_animate.js') }}"></script>
    <script src="{{ url_for('static', filename='script/product_suggest.js') }}"></script>
    {% endblock  %}
</body>
</html>
