<!DOCTYPE html>
<html lang="fr">
<head> <!--Définition d'un bloc structurel, de nom "head"-->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/refurbCard.css') }}" />
    <title>Apple Refurb</title>
</head>
<body>
  <div class="product-list">
      <ul class="cards">
        {% for product in products %}
        <li class="card card--1">
          <div class="card__info-hover">
              <div class="card__clock-info">
                🔥🔥<span class="card__time"><strike>{{product['previousPrice']}}</strike></span>
              </div>
            
          </div>
          <div class="card__img"></div>
          <a href="#" class="card_link">
             <div class="card__img--hover" style="background-image: url('{{product['img'][0]}}');"></div>
           </a>
          <div class="card__info">
            <span class="card__category">{{product['currentPrice']}}</span>
            <h3 class="card__title">{{product['title']}}</h3>
            <span class="card__by"><i>{% if product['save'] != None %}{{product['save']}}
            {% endif %}</i></span>
          </div>
        </li>
        {% endfor %}
      </ul>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
