<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}  <!--Définition d'un bloc structurel, de nom "head"-->
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} Apple Refurb</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <ul>
            {% for product in products %}
                <li>
                    {{product['title']}}
                    <ul>
                        {{product['currentPrice']}}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>